name: Runner Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: [self-hosted, vps]
    steps:
      - name: Who am I
        run: |
          whoami
          hostname
          uname -a
          pwd
